nav.tabs,
.header-bar {
    background-color: #e53935;
    transition: background-color 1s ease 0s;
}
body[data-state="relaxing"] .header-bar {
    background-color: #4dd0e1;
}
body[data-state="bigrelaxing"] .header-bar {
    background-color: #d4e157;
}
/*.header-bar .title {
    line-height: 1;
}
.header-bar h1.title {
    height: calc(100% - .67em * 2);
}*/
nav.tabs .tab-items .tab-item {
    color: white;
}
.tabs .tab-indicator {
    background-color: white;
}

.app-page,
body {
    background-color: #f44336;
    color: white;
}

body, button, input, label, p, select, textarea {
    font-family: "Segoe UI", sans-serif;
}

.list li a {
    color: white;
}
li.padded-list > a > span.pull-right + span {
    display: inline-block;
    overflow: hidden;
    max-width: calc(100% - 52px);
}

.dialog .content h3 {
    color: #d32f2f;
}
.backdrop-panel {
    background-color: rgba(0, 0, 0, 0.5);
}

.panel .content .btn {
    line-height: 2.7em;
}

#loggerContainer,
#logger,
#loggerTab {
    box-sizing: content-box;
}

.circle-progress {
    background-color: transparent;
    display: none;
}
.circle-progress.active {
    display: block;
}
.circle-progress.active .spinner {
    border-color: #e53935;
    border-bottom-color: #eee;
}
.circle-progress.active.rev .spinner {
    border-color: #eee;
    border-bottom-color: #e53935;
}

#tab-timer.tab-content {
    height: auto !important;
}


li.padded-list.active {
    background-color: #e53935;
    box-shadow: inset -15px 0 17px -8px #ffebee;
}




script,
style,
.hide {
    display: none;
}
