nav.tabs,
.header-bar {
    background-color: #e53935;
}
.header-bar .title {
    line-height: 1;
}
nav.tabs .tab-items .tab-item {
    color: white;
}
.tabs .tab-indicator {
    background-color: white;
}

.app-page,
body {
    background-color: #f44336;
    color: white;
}

body, button, input, label, p, select, textarea {
    font-family: "Segoe UI", sans-serif;
}

.list li a {
    color: white;
}
li.padded-list > a > span.pull-right + span {
    display: inline-block;
    overflow: hidden;
    max-width: calc(100% - 52px);
}

.dialog .content h3 {
    color: #d32f2f;
}
.backdrop-panel {
    background-color: rgba(0, 0, 0, 0.5);
}

.panel .content .btn {
    line-height: 2.7em;
}

#loggerContainer,
#logger,
#loggerTab {
    box-sizing: content-box;
}
