<head>
    <title>Pomodimer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name=viewport content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height">
    
    <script type="text/javascript" src="js/cordova.js"></script>
    <!--<script type="text/javascript" src="js/cordova_plugins.js"></script>-->
    <!--<script type="text/javascript" src="js/phonegap.js"></script>-->
    
    <script src="js/phonon.min.js"></script>
    <link rel="stylesheet" href="css/phonon.min.css">
    
    <!--<script src="js/progressbar.min.js"></script>-->
    
    <!--<script src="js/touch.js"></script>-->
    
    <script type="text/javascript" src="js/Logger.js"></script>
    
    <!--<script src="js/ProgressCircle.min.js"></script>-->
    
    <!--<script src="js/knockout-3.3.0.min.js"></script>-->
    
    <script src="js/zepto.min.js"></script>
    <script src="js/zepto-touch.js"></script>
    
    <script src="js/underscore-min.js"></script>
    <script src="js/backbone.js"></script>
    <script src="js/backbone.localStorage-min.js"></script>
    
    <!--<link rel="stylesheet" href="css/circle.css">-->
    
    <link rel="stylesheet" href="css/fix.css">
</head>
<body id="body">
    
    

    
    <timer data-page="true">
        <link rel="stylesheet" href="css/timer.css">
        
        <header class="header-bar">
            <div class="pull-left">
                <h2 class="title">Pomodimer</h2>
            </div>
            <a class="btn pull-right icon icon-settings" data-popover-id="pop-settings"></a>
        </header>
        
        <nav class="tabs header-tabs">
            <div class="tab-items">
                <a class="tab-item">Список дел</a>
                <a class="tab-item">Таймер</a>
                <!--<a class="tab-item"><i class="icon icon-settings"></i></a>-->
            </div>
            <div class="tab-indicator"></div>
        </nav>
        
        <div class="content" data-tab-contents="true" data-disable-swipe="false">
            
            <div class="popover" id="pop-settings" data-status="closed">
                <ul class="list">
                    <li><a class="padded-list js-stop-timer">Остановить таймер</a></li>
                </ul>
            </div>
            
            
            
            
            <div class="tab-content" id="tab-tasklist">
                <div id="taskListBuilding" class="circle-progress padded-full">
                    <div class="spinner"></div>
                </div>
                <ul class="list" id="task-list">
                </ul>
                <script type="text/template" id="tasklist_template">
                    <li class="padded-list">
                        <a class="js-startTimer">
                            <span class="pull-right"><%= tomatos %></span>
                            <span><%- name %></span>
                        </a>
                    </li>
                </script>
                <ul class="list">
                    <li class="padded-list" id="add-task">
                        <a data-panel-id="addTaskPanel">
                            <span class="icon icon-add pull-left"></span>
                            <span>Добавить новую задачу</span>
                        </a>
                    </li>
                </ul>
            </div>
            
            
            
            
            <div class="tab-content" id="tab-timer">
                <h3 id="current-task-name" class="text-center" data-bind="text: currentTask().name"></h3>
                
                <div id="timer">
                <!--    <div class="c100 p0">-->
                <!--        <span>25%</span>-->
                <!--        <div class="slice">-->
                <!--            <div class="bar"></div>-->
                <!--            <div class="fill"></div>-->
                <!--        </div>-->
                <!--    </div>-->
                    <div class="text-center time">00:00</div>
                </div>
                
                <canvas id="timer" width="180" height="180"></canvas>
                
                <!--<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>-->
            </div>
        </div>
        


        
        <div id="addTaskPanel" class="panel">
                <header class="header-bar">
                    <a class="btn icon icon-close pull-right" href="#" data-panel-close="true"></a>
                    <h2 class="title padded-left">Добавить задачу</h2>
                </header>
        
                <div class="content">
                    <p class="padded-full">
                        <input type="text" placeholder="Название задачи" />
                    </p>
                    <p class="padded-full text-right">
                        <a class="btn primary" id="addTaskConfirm" data-bind="click: addTask">Добавить</a>
                    </p>
                </div>
        </div>
    </timer>
    
    

    
    
    <script src="js/main3.js"></script>
</body>